include ../mixins/form.mixin.pug

-
  const { chapter } = locals

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    title Редактировать рецепт

    link(rel='stylesheet' href='/styles.css')
    script(src='/form.js')

  body
    main.container
      .content
        h1 Редактировать рецепт
        +form(item)


