doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    title Данные успешно сохранены!

    link(rel='stylesheet' href='/styles.css')

  body
    main.container
      .content
        h1 Данные успешно сохранены!
        a(href='/' class='button') На главную страницу


